* {
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}


button {
    border: none;
    background: transparent;
    cursor: pointer;
}

h1 {
    font-weight: 600;
    font-size: 36px;
}

h2 {
    font-weight: 24px;
}

h3 {
    font-weight: 32px;
}

p {
    font-weight: 400;
    font-size: 1.1rem;
    padding: 2% 10% 2% 10%;
    color: #959595;

}

section {
    margin-top: 20%;
}




.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* position: sticky; */
    /* top: 0; */
    background-color: #fff;
    padding: 5% 10%;
    /* overflow: hidden; */
}

.iPad-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blue-background {
    position: absolute;
    width: 60%;
    height: 70%;
    background-color: #5265E1;
    border-radius: 50% 0 0 50%;
    right: -10%;
    bottom: -2%;
    z-index: -1;
}

.ipad-image {
    width: 100%;

}

.primary-button {
    background: #5265E1;
    color: #e7eafb;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0px -7px 10.4px rgba(82, 101, 225, 0.2);
}

.ghost-button {
    font-size: 1rem;
    font-weight: 600;
    padding: 16px;
    border-radius: 6px;
    background: #F7F7F5;
    box-shadow: 0px -7px 18.4px rgba(82, 101, 225, 0.2);
    margin-left: 4%;


}

.secondary-button {

    background: #FA5959;
    color: #f8e3e3;
    font-size: 1rem;
    font-weight: 600;
    padding: 16px;
    border-radius: 6px;
}


.tab-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 2% 2% 2% 10%;
    margin-left: 15%;
    margin-right: 15%;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-left: none;
    border-right: none;
    position: relative;

}

.tab-active {
    width: 50%;
    height: 1%;
    background: #FA5959;
    padding: 3px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
}

.tab-unactive {
    color: #959595
}

.description-feature-blue-bg {
    position: absolute;
    width: 90%;
    height: 60%;
    background-color: #5265E1;
    border-radius: 50% 0 0 50%;
    border-radius: 0 50% 50% 0;
    left: -10%;
    bottom: 10%;
    z-index: -1;

}

.tab-active-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 16%;
}

.tab-active-img {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card-download-extension {
    margin: 15%;
    padding-top: 5%;
    box-shadow: 0px -7px 18.4px rgba(82, 101, 225, 0.2);
    border-radius: 10px;
    min-width: 249px;
    max-width: 281px;


}

.dashed-border {
    background-image: url('assets/bg-dots.svg');
    width: 100%;
    height: 4px;
}

.card-button-container {

    padding-top: 10%;
    padding-bottom: 10%;

}

.questions-container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: none none solid none;
    border-color: #d1d1d1;

}

.newsletter {
    background: #5265E1;
    color: #e7eafb;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.newsletter h4 {
    text-transform: uppercase;
}

.newsletter input {
    height: 40px;
    border-radius: 6px;
    border-style: none;
    box-shadow: 0px -3px 18.4px rgba(82, 101, 225, 1);
    margin-bottom: 4%;
    padding-left: 6%;
    color: #e2e1e1;

}

.footer-container {
    background: #242946;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;

}

.footer-container ul {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;


}

.footer-container a {
    display: block;
    color: #e2e1e1;
    text-decoration: none;
    margin: 5%;
    align-items: center;

}

.social-icons-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

/* Mobile Menu styles */

.mobile-full-vh {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(36, 41, 70, 0.95);
    padding: 0 32px;
    z-index: 4;
}

.header-mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    width: 100%;
}

.mobile-menu-logo-wrapper img {
    height: 25px;
}

.close-button img {
    height: 20px;

}

.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-menu {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-menu li {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px 0;
}

.main-menu li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.main-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}

.outlined-button {
    background: transparent;
    color: white;
    border: 2px solid white;
    width: 100%;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 24px;
}

.social-icons-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 40px;
}

.social-icon img {
    width: 24px;
    height: 24px;
}


.hidden {
    display: none !important;
}