* {
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
    text-align: center;

}

:root {
    --primary-color: #5265E1;
    --primary-light: #e7eafb;
    --secondary-color: #FA5959;
    --secondary-light: #f8e3e3;
    --brand-white: #f6f5f5;
    --text-color: #1d1d1d;
    --text-light: #959595;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --border-radious-lg: 10px;
    --border-radious-md: 6px;
    --box-shadow-lg: 0px -7px 10.4px rgba(82, 101, 225, 0.2);
}

body {
    margin: 0;
    padding: 0;
}


button {
    border: none;
    background: transparent;
    cursor: pointer;
}

h1 {
    font-weight: 600;
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 16px;
}

p {
    font-weight: 400;
    font-size: 1.1rem;
    padding: 2% 10%;
    color: var(--text-light);
}

section {
    margin-top: 20%;
}




.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 5% 10%;

}

.iPad-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blue-background {
    position: absolute;
    width: 60%;
    height: 70%;
    background-color: var(--primary-color);
    border-radius: 50% 0 0 50%;
    right: -10%;
    bottom: -2%;
    z-index: -1;
}

.ipad-image {
    width: 100%;

}

.primary-button {
    background: var(--primary-color);
    color: var(--primary-light);
    font-size: 1rem;
    font-weight: 600;
    padding: var(--spacing-md);
    border-radius: var(--border-radious-md);
    box-shadow: var(--box-shadow-lg);
}

.ghost-button {
    font-size: 1rem;
    font-weight: 600;
    padding: var(--spacing-md);
    border-radius: var(--border-radious-md);
    background: #F7F7F5;
    box-shadow: var(--box-shadow-lg);
    margin-left: 4%;


}

.secondary-button {
    background: var(--secondary-color);
    color: var(--secondary-light);
    font-size: 1rem;
    font-weight: 600;
    padding: var(--spacing-md);
    border-radius: var(--border-radious-md);
}


.tab-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 2% 2% 2% 10%;
    margin-left: 15%;
    margin-right: 15%;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    border-left: none;
    border-right: none;
    position: relative;

}

.tab-active {
    width: 50%;
    height: 1%;
    background: var(--secondary-color);
    padding: 3px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
}

.tab-unactive {
    color: var(--text-light);
}

.description-feature-blue-bg {
    position: absolute;
    width: 90%;
    height: 60%;
    background-color: #5265E1;
    border-radius: 50% 0 0 50%;
    border-radius: 0 50% 50% 0;
    left: -10%;
    bottom: 10%;
    z-index: -1;

}

.tab-active-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 16%;
}

.tab-active-img {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card-download-extension {
    margin: 15%;
    padding-top: 5%;
    box-shadow: 0px -7px 18.4px rgba(82, 101, 225, 0.2);
    border-radius: 10px;
    min-width: 249px;
    max-width: 281px;


}

.dashed-border {
    background-image: url('assets/bg-dots.svg');
    width: 100%;
    height: 4px;
}

.card-button-container {

    padding-top: 10%;
    padding-bottom: 10%;

}

.questions-container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: none none solid none;
    border-color: #d1d1d1;

}

.newsletter {
    background: var(--primary-color);
    color: var(--primary-light);
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.newsletter h4 {
    text-transform: uppercase;
}

.newsletter input {
    height: 40px;
    border-radius: var(--border-radious-md);
    border-style: none;
    box-shadow: var(--box-shadow-md);
    margin-bottom: 4%;
    padding-left: 6%;
    color: var(--brand-white);

}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.footer-container {
    background: #242946;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;

}

.footer-container ul {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;


}

.footer-links,
a {
    gap: var(--spacing-sm);
    color: var(--brand-white);
    text-decoration: none;
    list-style: none;


}

.social-links {}

/* Mobile Menu styles */


mobile-full-vh {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(36, 41, 70, 0.95);
    padding: 0 32px;
    z-index: 4;
}

.header-mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    width: 100%;
}

.mobile-menu-logo-wrapper img {
    height: 25px;
}

.close-button img {
    height: 20px;

}

.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-menu {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-menu li {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px 0;
}

.main-menu li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.main-menu li a {
    color: var(--brand-white);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}

.outlined-button {
    background: transparent;
    color: var(--brand-white);
    border: 2px solid var(--brand-white);
    width: 100%;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 24px;
}

.social-icons-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 40px;
}

.social-icon img {
    width: 24px;
    height: 24px;
}


.hidden {
    display: none !important;
}