@use "../abstracts/variables" as v;

/* Mixins */

@mixin button-style($type) {
	// base
	border: none;
	background: transparent;
	cursor: pointer;
	font-family: v.$font-family;
	min-width: 169px;
	max-height: 51;

	// primary

	@if $type == "primary" {
		background-color: v.$primary-color;
		color: v.$primary-light;
		font-size: map-get(v.$font-sizes, "sm");
		font-weight: map-get(v.$font-weights, "bold");
		padding: map-get(v.$spacing, "sm") map-get(v.$spacing, "md");
		border-radius: v.$border-radius-sm;
		box-shadow: v.$shadow-lg;

		&:hover {
			background-color: v.$neutral-off-white;
			border: 2px solid v.$primary-color;
			color: v.$primary-color;
			box-shadow: v.$shadow-lg;
		}
	} @else if $type == "secondary" {
		background-color: v.$secondary-color;
		color: v.$secondary-light;
		font-size: map-get(v.$font-sizes, "sm");
		font-weight: map-get(v.$font-weights, "bold");
		padding: map-get(v.$spacing, "sm") map-get(v.$spacing, "md");
		border-radius: v.$border-radius-sm;
		box-shadow: v.$shadow-lg;

		&:hover {
			background-color: v.$full-white;
			border: 2px solid v.$secondary-color;
			color: v.$secondary-color;
			font-weight: map-get(v.$font-weights, "bold");
			box-shadow: v.$shadow-lg;
		}
	} @else if $type == "ghost" {
		background-color: v.$neutral-off-white;
		color: v.$neutral-very-dark-blue;
		font-size: map-get(v.$font-sizes, "sm");
		font-weight: map-get(v.$font-weights, "bold");
		padding: map-get(v.$spacing, "sm") map-get(v.$spacing, "md");
		border-radius: v.$border-radius-sm;

		&:hover {
			background-color: v.$full-white;
			border: 2px solid v.$secondary-color;
			color: v.$secondary-color;
			font-weight: map-get(v.$font-weights, "bold");
		}
	} @else if $type == "outlined" {
		background-color: transparent;
		border: 2px solid v.$full-white;
		color: v.$full-white;
		width: 100%;
		font-size: map-get(v.$font-sizes, "md");
		font-weight: map-get(v.$font-weights, "bold");
		padding: map-get(v.$spacing, "sm") 0;
		border-radius: v.$border-radius-sm;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: map-get(v.$spacing, "md");

		&:hover {
			background-color: v.$full-white;
			border: 2px solid v.$primary-color;
			color: v.$primary-color;
			font-weight: map-get(v.$font-weights, "bold");
		}
	} @else if $type == "icon" {
		border: none;
		background: transparent;
		cursor: pointer;
	}
}

/* CTAs */

.primary-button {
	@include button-style("primary");
}

.secondary-button {
	@include button-style("secondary");
}

.ghost-button {
	@include button-style("ghost");
}

.outlined-button {
	@include button-style("outlined");
}

// tabs Buttons
