@use "../abstracts/variables" as v;

/* Mixins */

@mixin headlines {
	font-family: v.$font-family;
	font-weight: map-get(v.$font-weights, "bold");
	text-align: center;
	color: v.$neutral-very-dark-blue;
	padding: map-get(v.$spacing, "sm");
}

@mixin paragraphs {
	font-family: v.$font-family;
	color: v.$neutral-gray;
	text-align: center;
	padding: map-get(v.$spacing, "md");
	padding: 0 map-get(v.$spacing, "lg");
	line-height: 1.5;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
	@include headlines;
}

h1 {
	font-size: map-get(v.$font-sizes, "xxl");
}

h2 {
	font-size: map-get(v.$font-sizes, "xl");
}

h3 {
	font-size: map-get(v.$font-sizes, "lg");
}

h4 {
	font-size: map-get(v.$font-sizes, "md");
}

p {
	@include paragraphs;
}
