// CTAS

@use "variables" as v;

// FlexBox

@mixin flex-space-btw-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin display-flex-column {
	display: flex;
	flex-direction: column;
}

@mixin display-flex-center {
	display: flex;
	justify-content: center;
}

// Lists

@mixin list {
	font-family: v.$font-family;
	font-size: map-get(v.$font-sizes, "sm");
	letter-spacing: 2px;
	list-style-type: none;
}

//Links

@mixin link {
	text-decoration: none;
	letter-spacing: 2px;

	&:hover {
		color: v.$secondary-color;
	}
}

//icons

@mixin svg-color {
	fill: v.$full-white;
	&:hover {
		fill: v.$secondary-color;
	}
}

// Media Queries
@mixin desktop {
	@media screen and (min-width: 900px) {
		@content;
	}
}

//tab-buttons

@mixin tab-button {
	border: none;
	background: transparent;
	padding: map-get(v.$spacing, "md") 0;
	border-bottom: 1px solid v.$neutral-gray-50-opacity;
	text-align: center;
	cursor: pointer;
	color: v.$neutral-gray;

	&:first-child {
		border-top: 1px solid v.$neutral-gray-50-opacity;
		@include desktop() {
			border-top: none;
		}
	}

	h3 {
		color: v.$neutral-gray;
		margin: 0;
		transition: color 0.3s ease;
		&:hover {
			color: v.$neutral-very-dark-blue;
		}
	}

	&.active {
		h3 {
			color: v.$neutral-very-dark-blue;
		}
	}
}

//utilities

@mixin hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.is-hidden {
	@include hidden;
}
